$color_1: #06283d;
$color_2: #47b5ff;
$color_3: white;
$color_4: #256d85;
$color_5: #fff;
$font-family_1: "Poppins";
$background-color_1: #06283d;
$background-color_2: rgba(223, 246, 255);
$background-color_3: #dff6ff;

* {
	width: 100%;
	box-sizing: border-box;
	color: $color_1;
	font-family: $font-family_1;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: $background-color_1;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	.swiper {
		margin-top: 100px;
	}
}
.header {
	display: flex;
	align-items: center;
	height: 65px;
	background-color: $background-color_2;
	z-index: 10;
	position: fixed;
	top: 0;
}
.header-left {
	width: 20%;
	h1 {
		font-weight: bold;
	}
}
.header-right {
	ul {
		list-style: none;
		display: flex;
		width: 60%;
		float: right;
		justify-content: space-between;
		font-weight: bold;
		li {
			display: flex;
			flex-direction: row;
			margin: 0 10px 0 10px;
			a {
				border-radius: 24px;
				padding: 10px 20px;
				transition: all 0.5s;
				color: $color_1;
				margin: 0 auto;
				&:hover {
					color: $color_2;
					background-color: $background-color_1;
				}
			}
		}
	}
}
a {
	text-decoration: none;
}
.active {
	color: $color_2 !important;
	background-color: $background-color_1;
}
.swiper {
	margin-top: 100px;
	height: 500px;
	color: $color_3;
	width: 100%;
}
.swiper-slide {
	img {
		width: 30%;
		height: 80%;
		margin: 10px 35%;
	}
}
.bio-content {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
}
.bio-main {
	width: 80%;
	height: 80%;
	border-radius: 20px;
	margin: auto;
	display: flex;
	h1 {
		color: $color_3;
		width: 50%;
		margin: 50px 40px 0 40px;
	}
	p {
		color: $color_3;
		margin-left: 40px;
		width: 70%;
	}
}
.bio-photo {
	width: 40%;
	height: 80%;
	float: right;
	margin: auto;
	border-radius: 20px;
	img {
		position: cover;
		border-radius: 20px;
		height: 100%;
	}
}
.bio-wrapper {
	margin: 20px 0;
}
[data-tab-content] {
	display: none;
}
.active[data-tab-content] {
	display: flex;
	flex-direction: column;
}
.tab {
	ul {
		li {
			color: $color_3;
			cursor: pointer;
			text-align: center;
		}
		display: flex;
		width: 85%;
		margin: 0 auto;
		margin-top: 100px;
	}
}
.bio-add {
	margin-top: 200px;
	h3 {
		color: $color_3;
		text-align: center;
	}
}
.main-content {
	display: block;
}
.main {
	height: 100rem;
}
iframe {
	border: 20px solid red;
}
footer {
	img {
		width: 125px;
	}
	p {
		color: $color_4;
		font-size: 20px;
		margin-top: 10px;
		font-weight: bold;
	}
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	width: 100%;
	background-color: $background-color_3;
	display: flex;
	font-size: medium;
	position: static;
	margin-top: 200px;
	ul {
		li {
			margin-top: 5px;
			color: $color_4;
		}
	}
	.footer-content2 {
		display: block;
	}
}
ul {
	list-style: none;
}
i {
	color: $color_4;
}
.footer-content1 {
	text-align: left;
	ul {
		margin-top: 10px;
	}
}
.footer-main-content {
	text-align: center;
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
}
.footer-content2 {
	ul {
		margin-top: 10px;
	}
}
.footer-content3 {
	ul {
		display: flex;
		justify-content: center;
		li {
			width: 30px;
			align-items: center;
			margin: 10px 20px 0 20px;
		}
	}
}
.menu-toggle {
	display: none;
}
@media all and (max-width: 1000px) {
	.bio-add {
		width: 70%;
		margin: 400px auto;
	}
	.bio-wrapper {
		height: 100%;
	}
	.bio-main {
		display: flex;
		flex-direction: column;
	}
	.bio-photo {
		margin-top: 20px;
		width: 100%;
		height: auto;
		float: left;
		padding: 0 2.8rem;
	}
	.header-left {
		h1 {
			margin-left: 10px;
			width: 100px;
		}
	}
	.header-right {
		ul {
			width: 100%;
		}
	}
	.footer-main-content {
		a {
			width: 20%;
		}
	}
	footer {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 70vh;
	}
	.swiper-slide {
		img {
			height: 70%;
			width: 400px;
			margin: 10% 25%;
		}
	}
}
@media all and (max-width: 640px) {
	.bio-add {
		width: 50%;
		margin: 20px auto;
	}
	.bio-main {
		display: flex;
		flex-direction: column;
		height: 2000px;
	}
	.bio-photo {
		margin-top: 20px;
		width: 100%;
		float: left;
		padding: 0 2.8rem;
		img {
			float: left;
			height: 100%;
			margin: 0;
			margin-left: 0;
		}
	}
	.menu-toggle {
		display: flex;
		width: 25%;
		float: right;
		align-items: center;
		margin-bottom: 10px;
		cursor: pointer;
		i {
			display: flex;
			width: 25px;
		}
	}
	.header-left {
		h1 {
			margin-left: 10px;
			width: 100px;
		}
	}
	.header-right {
		ul {
			position: absolute;
			right: 0;
			top: 0;
			flex-direction: column;
			height: 100vh;
			align-items: center;
			justify-content: start;
			z-index: -1;
			width: 80%;
			color: $color_5;
			background-color: $background-color_1;
			transform: translateX(100%);
			transition: all 1s;
			padding-top: 50px;
			opacity: 0;
			li {
				a {
					&:hover {
						color: $color_2;
						background-color: $background-color_1;
					}
				}
				margin-top: 10px;
				padding-top: 0;
			}
		}
		ul.slide {
			transform: translateX(0);
			opacity: 1;
		}
	}
	.active {
		background-color: $background-color_1;
		color: $color_5;
	}
	.header {
		ul {
			li {
				a {
					color: $color_5;
					font-size: 25px;
				}
			}
		}
	}
	.footer-main-content {
		a {
			width: 100%;
		}
		display: block;
		h2 {
			text-align: left;
		}
	}
	.heading {
		a {
			width: 60%;
		}
	}
	footer {
		p {
			font-size: 10px;
		}
		font-size: 10px;
		display: flex;
		flex-direction: column;
		border: 1px solid;
		ul {
			text-align: left;
		}
	}
	.footer-content2 {
		display: block;
		margin-top: 10px;
	}
	.footer-content3 {
		margin-top: 20px;
		text-align: left;
		ul {
			display: flex;
			justify-content: start;
			li {
				margin-left: 0;
			}
		}
	}
	.swiper-slide {
		img {
			width: 50%;
			height: 50%;
			margin: 150px 24%;
		}
	}
}
