$color_1: #06283d;
$color_2: #47b5ff;
$color_3: white;
$color_4: #256d85;
$color_5: #fff;
$font-family_1: "Poppins";
$background-color_1: #06283d;
$background-color_2: rgba(223, 246, 255);
$background-color_3: #dff6ff;


* {
	width: 100%;
	box-sizing: border-box;
	color: $color_1;
	font-family: $font-family_1;
	margin: 0px;
	padding: 0px;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
a {
	text-decoration: none;
}

footer {
	margin-top: 1000px;
	img {
		width: 125px;
	}
	p {
		color: $color_3;
		font-size: 20px;
		margin-top: 10px;
		font-weight: bold;
	}
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	width: 100%;
	background-color: $background-color_3;
	display: flex;
	font-size: medium;
	position: absolute;
	margin-top: 2000px;
	bottom: 0;
	ul {
		li {
			margin-top: 5px;
			color: $color_1;
		}
	}
	.footer-content2 {
		display: block;
	}
}
ul {
	list-style: none;
}

.footer-content1 {
	text-align: left;
	ul {
		margin-top: 10px;
	}
}
.footer-main-content {
	text-align: center;
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
}
.footer-content2 {
	ul {
		margin-top: 10px;
	}
}
.footer-content3 {
	ul {
		display: flex;
		justify-content: center;
		li {
			width: 30px;
			align-items: center;
			margin: 10px 20px 0 20px;
		}
	}
}

@media all and (max-width: 1000px) {
	.header-left {
		h1 {
			margin-left: 10px;
			width: 100px;
		}
	}
	.header-right {
		ul {
			width: 100%;
		}
	}
	.footer-main-content {
		a {
			width: 20%;
		}
	}
	footer {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 70vh;
	}
	
	
}
@media all and (max-width: 640px) {
	.menu-toggle {
		display: flex;
		width: 25%;
		float: right;
		align-items: center;
		margin-bottom: 10px;
		cursor: pointer;
		i {
			display: flex;
			width: 25px;
		}
	}
	.header-left {
		h1 {
			margin-left: 10px;
			width: 100px;
		}
	}
	.header-right {
		ul {
			position: absolute;
			right: 0;
			top: 0;
			flex-direction: column;
			height: 100vh;
			align-items: center;
			justify-content: start;
			z-index: -1;
			width: 80%;
			color: $color_6;
			background-color: $background-color_1;
			transform: translateX(100%);
			transition: all 1s;
			padding-top: 50px;
			opacity: 0;
			li {
				margin-top: 10px;
				padding-top: 0;
			}
		}
		ul.slide {
			transform: translateX(0);
			opacity: 1;
		}
	}
	.active {
		background-color: $background-color_1;
		color: $color_6;
	}
	.header {
		ul {
			li {
				a {
					color: $color_6;
					font-size: 25px;
				}
			}
		}
	}
	.footer-main-content {
		a {
			width: 100%;
		}
		display: block;
		h2 {
			text-align: left;
		}
	}
	footer {
		p {
			font-size: 10px;
		}
		font-size: 10px;
		display: flex;
		flex-direction: column;
		border: 1px solid;
		ul {
			text-align: left;
		}
	}
	.footer-content2 {
		display: block;
		margin-top: 10px;
	}
	.footer-content3 {
		margin-top: 20px;
		text-align: left;
		ul {
			display: flex;
			justify-content: start;
			li {
				margin-left: 0;
			}
		}
	}
}
