.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  /* border: 5px solid orange; */
}
body {
  /* border: 2px solid red; */
}
a {
  text-decoration: none;
}

footer {
  /* border: 2px solid yellow; */
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 100%;
  background-color: #dff6ff;
  display: flex;
  font-size: medium;
  position: static;
  bottom: 0;
  left: 0;
  margin-top: 400px;
}
footer img {
  width: 125px;
}
footer p {
  color: #06283d;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  /* border: 2px solid red; */
}
footer ul li {
  margin-top: 5px;
  color: #06283d;
  /* border: 1px solid blue; */
  max-width: 60%;
}
footer .footer-content2 {
  display: block;
  /* border: 1px solid red; */
}

ul {
  list-style: none;
}

i {
  color: #06283d;
}

.footer-content1 {
  text-align: left;
}
.footer-content1 ul {
  margin-top: 10px;
}

.footer-main-content {
  text-align: center;
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding-top: 20px;
  /* border: 2px solid orange; */
  justify-content: center;
}

.footer-content2 ul {
  margin-top: 10px;
  
}
.footer-content3 {
  /* border: 1px solid blue; */
  margin-right: 10px;  
}
.footer-content3 h2 {
  /* border: 1px solid black; */
  text-align: center;
}
.footer-content3 ul {
  display: flex;
  /* border: 3px solid purple; */
  justify-content: center;
}
.footer-content3 ul li {
  width: 30px;
  margin: 10px 20px 0 20px;
}
@media all and (max-width: 1000px) {
  
  .footer-main-content a {
    width: 20%;
  }
  footer {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 110vh;
  }
}
@media all and (max-width: 640px) {
  
  .footer-main-content {
    display: block;
  }
  .footer-main-content a {
    width: 100%;
  }
  .footer-main-content h2 {
    text-align: left;
  }
  footer {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    margin-top: 400vh;
  }
  footer p {
    font-size: 10px;
  }
  footer ul {
    text-align: left;
  }
  .footer-content2 {
    display: block;
    margin-top: 10px;
  }
  .footer-content3 {
    margin-top: 20px;
    text-align: left;
  }
  .footer-content3 ul {
    display: flex;
    justify-content: start;
  }
  .footer-content3 ul li {
    margin-left: 0;
  }
}
