$color_1: #06283D;
$color_2: #47B5FF;
$color_3: #256D85;
$color_4: white;
$color_5: rgb(0, 4, 65, 0.7);
$color_6: #fff;
$font-family_1: 'Poppins';
$background-color_1: #06283D;
$background-color_2: rgba(223, 246, 255);
$background-color_3: #DFF6FF;
$background-color_4: #47B5FF;

* {
	width: 100%;
	box-sizing: border-box;
	color: $color_1;
	font-family: $font-family_1;
	margin: 0px;
	padding: 0px;
}
body {
	background-color: $background-color_1;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.header {
	display: flex;
	align-items: center;
	height: 65px;
	background-color: $background-color_2;
	z-index: 10;
	position: fixed;
	top: 0;
}
.header-left {
	width: 20%;
	h1 {
		font-weight: bold;
	}
}
.header-right {
	ul {
		list-style: none;
		display: flex;
		width: 60%;
		float: right;
		justify-content: space-between;
		font-weight: bold;
		li {
			display: flex;
			flex-direction: row;
			margin: 0 10px 0 10px;
			a {
				border-radius: 24px;
				padding: 10px 20px;
				transition: all 0.5s;
				color: $color_1;
				margin: 0 auto;
				&:hover {
					color: $color_2;
					background-color: $background-color_1;
				}
			}
		}
	}
}
a {
	text-decoration: none;
}
.active {
	color: $color_2 !important;
	background-color: $background-color_1;
}
footer {
	img {
		width: 125px;
	}
	p {
		color: $color_3;
		font-size: 20px;
		margin-top: 10px;
		font-weight: bold;
	}
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	width: 100%;
	background-color: $background-color_3;
	display: flex;
	font-size: medium;
	position: static;
	margin-top: 200px;
	ul {
		li {
			margin-top: 5px;
			color: $color_3;
		}
	}
	.footer-content2 {
		display: block;
	}
}
ul {
	list-style: none;
}
i {
	color: $color_3;
}
.footer-content1 {
	text-align: left;
	ul {
		margin-top: 10px;
	}
}
.footer-main-content {
	text-align: center;
	display: flex;
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
}
.footer-content2 {
	ul {
		margin-top: 10px;
	}
}
.footer-content3 {
	ul {
		display: flex;
		justify-content: center;
		li {
			width: 30px;
			align-items: center;
			margin: 10px 20px 0 20px;
		}
	}
}
.box {
	.col-4 {
		cursor: pointer;
		height: 600px;
		transition: all 0.8s;
		color: $color_4;
		box-sizing: border-box;
		height: 600px;
		padding: 60px;
		text-align: center;
		transition: all 0.8s;
		width: 1000px;
		&:hover {
			background-size: cover;
			box-shadow: 0px 15px 25px rgba(46, 31, 255, 0.7);
			color: $color_5;
			background-color: $background-color_4;
			background-size: cover;
			box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
		}
		h5 {
			font-size: large;
			margin: 20px 0;
			color: $color_4;
			font-size: large;
			margin: 20px 0;
		}
		img {
			width: 170px;
		}
		p {
			font-size: large;
			margin: 20px 0;
			color: $color_4;
		}
	}
	
	display: flex;
	margin-bottom: 120px;
	color: $color_4;
}
.menu-toggle {
	display: none;
	flex-direction: column;
	height: 20px;
	span {
		display: block;
		width: 20px;
		height: 3px;
		background-color: $background-color_1;
		border-radius: 3px;
	}
}
.main {
	height: 100rem;
}

.service  {
	h1 {
		text-align: center;
		color: #fff;
	}
	margin-top: 100px;
}
@media all and (max-width: 1000px) {
	.header-left {
		h1 {
			margin-left: 10px;
			width: 100px;
		}
	}
	.header-right {
		ul {
			width: 100%;
		}
	}
	.footer-main-content {
		a {
			width: 20%;
		}
	}
	footer {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 70vh;
	}
	.box {
		.col-4 {
			margin: 10px auto;
			width: 80%;
			flex: 1 300px;
			img {
				width: 60%;
			}
		}
		display: flex;
		flex-wrap: wrap;
	}
	.swiper-slide {
		img {
			height: 70%;
			width: 400px;
			margin: 10% 25%;
		}
	}
}
@media all and (max-width: 640px) {
	.box {
		display: flex;
		flex-direction: column;
		align-items: center;
		.col-4 {
			width: 100%;
			margin: 80px 0;
			img {
				width: 90%;
			}
		}
	}
	.menu-toggle {
		display: flex;
		width: 25%;
		float: right;
		align-items: center;
		margin-bottom: 10px;
		cursor: pointer;
		i {
			display: flex;
			width: 25px;
		}
	}
	.header-left {
		h1 {
			margin-left: 10px;
			width: 100px;
		}
	}
	.header-right {
		ul {
			position: absolute;
			right: 0;
			top: 0;
			flex-direction: column;
			height: 100vh;
			align-items: center;
			justify-content: start;
			z-index: -1;
			width: 80%;
			color: $color_6;
			background-color: $background-color_1;
			transform: translateX(100%);
			transition: all 1s;
			padding-top: 50px;
			opacity: 0;
			li {
				margin-top: 10px;
				padding-top: 0;
			}
		}
		ul.slide {
			transform: translateX(0);
			opacity: 1;
		}
	}
	.active {
		background-color: $background-color_1;
		color: $color_6;
	}
	.header {
		ul {
			li {
				a {
					color: $color_6;
					font-size: 25px;
				}
			}
		}
	}
	.footer-main-content {
		a {
			width: 100%;
		}
		display: block;
		h2 {
			text-align: left;
		}
	}
	footer {
		p {
			font-size: 10px;
		}
		font-size: 10px;
		display: flex;
		flex-direction: column;
		border: 1px solid;
		ul {
			text-align: left;
		}
	}
	.footer-content2 {
		display: block;
		margin-top: 10px;
	}
	.footer-content3 {
		margin-top: 20px;
		text-align: left;
		ul {
			display: flex;
			justify-content: start;
			li {
				margin-left: 0;
			}
		}
	}
}
